body {
    font-family: 'Inter', sans-serif;
    overscroll-behavior-y: none;
}

.font-serif-academic {
    font-family: 'Merriweather', serif;
}

.page {
    background-color: #fdfdfc; 
    overflow: hidden;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.03);
}

.page-hard {
    background-color: #1e293b;
    color: #f8fafc;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
}

.page-left {
    box-shadow: inset -15px 0 30px -15px rgba(0, 0, 0, 0.15);
}
.page-right {
    box-shadow: inset 15px 0 30px -15px rgba(0, 0, 0, 0.15);
}

.paper-texture {
    background-image: radial-gradient(#cbd5e1 0.5px, transparent 0.5px);
    background-size: 12px 12px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
